body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    height: 54px;
    width:100%;
    background-color: #FFFFFF;
    position:fixed;
    left:0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: solid 1px #DBDBDB;
    z-index: 2;
    padding: 7px calc((100% - (614px + 293px))/2 )
}

header div {
    display: flex;
    align-items: center;
}

header ion-icon {
    font-size: 20px;
}

.icon-mobile {
     display: none;
}

header .logo-instagram {
    border-right: 1px solid #dbdbdb;
    padding-right: 10px ;
    margin-right: 10px;
}

header input {
    height: 28px;
    width: 215px;
    background-color:#Fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    text-align: center;
}

header input p {
    font-size: 12px;
    color: #979797;
}

.right-side-buttons a {
    margin-left: 20px;
}

.right-side-buttons a:first-of-type {
    margin-left: 0px;
}

.container {
    width: 100%;
    height: 100%;
    background-color:#FAFAFA; 
    display: flex;
    justify-content: flex-end;
}

.container > div {
    width: 614px;
    margin-right:calc((100% - 614px + 293px)/2);
    height: 100%;
    flex-direction: column;
}

.stories {
    margin-top: 88px;
    height:116px;
    width: 100%;
    padding-left: 18px;
    background-color: white;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    border: solid 1px #dbdbdb;
    position: relative;
}

.stories a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    flex-direction: column;
    position: relative;
}

.stories p {
    font-size: 12px;
    font-weight: 400px;
    line-height: 14px;
    padding-top: 3px;
}

.stories img {
    height: 66px;
    width: 66px;
}

.stories .perfil-stories {
    height: 56px;
    width:56px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: calc((100% - 56px)/2);
}

.stories ion-icon {
    font-size: 26px;
    color: #ffffff;
    filter:drop-shadow(0px 3px 2px rgba(128,128,128,0.75));
    position: absolute;
    right: 9px;
    top: 46px;
}

main {
    margin-bottom: 16px;
}

main > div {
    margin-top: 60px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #dbdbdb;
}

main > div:first-child {
    margin-top: 24px;
}

main button {
    background-color: inherit;
    border:none;
    cursor:pointer;
}

main strong {
    font-weight: 500;
    display: inline-block;
}

.post-header { /* Topo de cada post*/
    height: 61px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 17px; 
    display: flex;
    align-items: center;
}

.post-header div {
    display: flex;
    align-items: center;
}

.post-header img { /* Topo de cada post*/
    height: 32px;
    width: 32px;
    margin-right: 15px;
    border-radius: 50%;
}

.post-header ion-icon {
    font-size: 18px;
}

.post-media {
    width: 100%;
    padding-bottom: 100%; /*Transforma a div em quadrada*/
    position: relative;
    box-sizing: content-box;
}

.post-media img,
.post-media video {
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    position: absolute;
    object-fit: cover;
}

.post-footer {
    width: 100%;
    padding: 8px 18px 0px;
}

.post-footer.comments-section {
    padding: 0px 18px;
}

.time-since-sent {
    width: 100%;
    padding: 8px 18px;
    border-bottom: solid 1px #DBDBDB;
}

.post-footer li {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-footer li div {
    display: flex;
    align-items: center;
}

.post-footer ion-icon {
    font-size: 14px; 
}

.post-footer .interactive-icons ion-icon {
    font-size: 18px;
}

.post-footer .interactive-icons div ion-icon {
    margin-right: 18px;
}

.post-footer img {
    height:20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.new-comment-section {
    display: flex;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
}

.new-comment-section ion-icon {
    font-size: 24px;
    color:#262626;
    margin-right:16px;
    margin-left: 8px;
}

.new-comment-section input {
    width: 100%;
    border: none;
}

.new-comment-section button:last-of-type {
    color:#B2DFFC;
    margin-right: 8px;
}

.new-comment-section button:first-of-type:hover {
    filter:brightness(2);
}



.new-comment-section button:last-of-type:hover {
    color:#0095F6;
}

.sidebar {
    width: 293px;
    height: calc(100vh - 54px);
    position:fixed;
    right:calc((100% - 614px - 293px)/2);
    top:54px;
    z-index: 2;
    padding-top: 57px;
    padding-left:29px;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.user-profile img {
    height:56px;
    width: 56px;
    margin-right: 17px;
    border-radius: 50%;
}

.sidebar button {
    background-color: inherit;
    border:none;
    cursor:pointer;
}

.suggestions li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px; 
}

.suggestions li > div {
display: flex;
align-items: center;
}

.suggestions img {
    height: 32px;
    width: 32px;
    margin-right: 11px ;
    border-radius: 50%;
}

.copyrights {
    margin-top: 33px;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
}

.copyrights p {
    margin-bottom: 18px;
}


.sidebar .title{
    font-size: 14px;
    line-height: 16.5px;
    font-weight: 500;
}

.sidebar .user-profile p {
    font-size: 14px;
    line-height: 16.5px;
    font-weight: 300;
}

.sidebar .suggestions li:first-of-type,
.sidebar .suggestions button {
    font-size:12px;
    line-height: 14px;
    font-weight: 500;
}

.small-text {
    font-size:12px;
    line-height: 14px;
    font-weight: 400;
}

.black {
    color: #262626 !important;
}

.dark-gray {
    color: #8e8e8e !important;
}

.light-gray {
    color: #c7c7c7 !important;
}

.blue {
    color: #139ef2 !important;
}


footer {
    display: none;
}

@media (max-width: 935px) {

    header {
        padding: 7px 18px;
    }

    .container {
        justify-content: center;
    }

    .container > div {
        margin-right: 0px;
    }


    .sidebar {
        display:none;
    }
}

@media (max-width: 614px) {
    .mobile-top-bar {
        width:100%;
        justify-content: space-between;
    }

    .icon-mobile {
        display: block;
    }

    header .logo-instagram {
        font-size: 24px;
        border-right: none;
        padding-right: 0px ;
        margin-right: 0px;
    }

    header input,
    header .right-side-buttons {
        display:none;
    }

    .stories {
        margin-top: 54px;
        height:121px;
        background-color: inherit;
        border: none;
    }

    .stories ion-icon {
        display: none;
    }

    main div:first-of-type {
        margin-top: 0px;
    }


    .container > div {
        margin-right: 0px;
        margin-bottom: 54px;
        width: 100%;
    }

    footer {
        display: flex;
        position: fixed;
        height: 54px;
        width: 100%;
        left: 0;
        bottom: 0;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 0px 18px;
    }

    footer ion-icon {
        font-size: 17px;
    }

}